@import '../scss/colors.scss';

.catalog {
    background-image: url(../../img/bg.png);
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;

    &_block {
        max-width: 727px;
    }

    &_title__h1 {
        font-family: History Pro;
        text-align: center;
        font-size: 64px;
        line-height: 160%;
        letter-spacing: 0.1em;
        color: $white;
    }
    
    &_block__text {
        max-width: 576px;;
        font-size: 26px;
        line-height: 160%;
        text-align: center;
        color: $white;
        margin: 0 auto;
    }

    &_block__button {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    &__button {
        font-size: 21px;
        line-height: 160%;
        color: $white;
        
        width: 349px;
        height: 65px;
        background: $secondary-color;
        border: 1px solid $secondary-color;
        box-sizing: border-box;
    }
}
