@import './colors';
@import './dimentions';

.contact {
  padding: 0;

  img {
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    position: relative;
    display: block;
    height: 100%;
  }

  .contact__row {
    display: flex;
    margin-bottom: 80px;

    .contact__div {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 0  0 0 180px;

      .contact__content {
        div:first-child {
          margin-bottom: 10px;
        }
      }

      .contact__bold {
        font-weight: bold;
        color: #444444;

        a {
          font-weight: bold;
          color: #444444;
        }
      }

      .contact__text {
        color: #444444;
      }
    }

    .contact__work {

      div {
        font-family: History Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 102px;
        letter-spacing: 0.1em;
        color: $primary-color;
      }
      p {
        color: $dark;
      }
    }
  }

  .contact__img {

  }
}
