@import './colors';
@import './dimentions';

.flowers_div {
  margin-bottom: 80px !important;
  margin-top: 80px !important;
}

.flowers__title {
  h3:after {
    width: 320px !important;
    left: 39px !important;
  }
}

.flowers_block {
  margin-bottom: 80px;
  margin-top: $top-default !important;
}
  .flowers__bouquet {
    h3:after {
      width: 130px !important;
      left: 17px !important;
    }
  }

  .flowers__gift {
    margin-top: 80px !important;

    h3:after {
      width: 220px !important;
    }
  }

