@import './colors';
@import './dimentions';

.flowers_div {
  padding-top: 80px !important;
}

.flowers__gift_div {
  padding-top: 80px !important;
}

.flowers_block {
  margin-bottom: 80px;
  margin-top: $top-default !important;
}
