//
//
//@media only screen and (max-device-width: 800px) {
//  .header {
//    margin-bottom: 15px;
//    margin-top: 15px;
//    margin-left: 1px;
//    padding-right: 10px;
//    height: fit-content;
//
//    nav {
//      margin-bottom: 10px;
//    }
//  }
//
//  .catalog__mob {
//    padding: 0;
//    width: fit-content;
//
//    .catalog {
//      height: max-content;
//      padding-bottom: 20px;
//    }
//  }
//  .sales__div {
//    padding: 0;
//
//    .sales_card {
//      margin: 15px auto;
//    }
//  }
//
//  .photo_blocks__div {
//    height: fit-content !important;
//
//    .photo_blocks__img {
//      padding-top: 20px;
//    }
//  }
//  .order__row {
//    flex-direction: column;
//  }
//
//  .gift__row {
//    flex-direction: column;
//
//    .gift__right {
//      padding: 110px 0px;
//      width: 100%;
//    }
//  }
//
//  .our_blog__row {
//    flex-direction: column;
//
//    .our_blog__container {
//      padding: 110px 0px !important;
//    }
//    .our_blog__img {
//      width: fit-content;
//      margin: 0 auto;
//    }
//
//    .our_blog__div {
//      flex-direction: column;
//    }
//  }
//  .contact__row {
//    flex-direction: column;
//    padding: 0 0 0 20px;
//
//    .contact__work {
//      margin: 0 auto;
//    }
//
//    .contact__div {
//      padding: 0 !important;
//      margin: 15px auto;
//    }
//  }
//};



@media only screen and (max-device-width: 1600px) {

  .container, .container-lg {
    max-width: 1400px !important;
  }

  .our {
    padding: 0;
  }
  .our_blog__row {
    flex-direction: column;

    .our_blog__img {
      margin-top: 15px;
    }
  }

  .photo_blocks__div {
    height: fit-content !important;
    flex-flow: wrap !important;

    .photo_blocks__img {
      width: 32% !important;
      margin-top: 15px;
    }

    .our_blog__div {
      margin-bottom: 15px;
    }
  }

  .order__div {
    margin-left: 15px;
  }

  .sales_card {
    width: 33%;
    margin-bottom: 20px;
  }

  .sales_card__text {
    flex-wrap: wrap;
  }
};
