@import '../scss/colors.scss';
@import './dimentions';

.order {
  margin-top: $top-default;
  padding: 0;

  .order__row {
    display: flex;
    justify-content: space-between;

    .order__div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;

      .order__title {
        margin-bottom: 60px;
      }

      .order__inform {
        margin: 40px 0 60px 0;

        p {
          color: $grey4;
        }
      }
    }
  }
}
