@import './colors';
@import './dimentions';

.our {
  margin-top: $top-default;
  background: $bgWhite;
  padding-bottom: $top-default;

    img {
      overflow: hidden;
      box-sizing: border-box;
      object-fit: cover;
      width: 100%;
      position: relative;
      display: block;
      height: 100%;
    }
    .our_blog__mob-img {
      min-width: 390px;
    }

    .our_blog__img {
      display: flex;
      justify-content: flex-end;

      .our_blog__img-block {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;

          h4 {
            position: absolute;
            writing-mode: vertical-lr;
            transform: rotateZ(180deg);
            bottom: 43px;
            color: $white;
          }
      }
    }

    .our_blog__row {
      display: flex;
      justify-content: space-between;
    }

    .our_blog__div {
      display: flex;
      flex: 1;

      .our_blog__container {
        padding: 110px 150px 110px 150px;

        .our_blog__text {
          margin-top: 30px;
          color: $grey4;
        }

        .our_blog__link {
          margin-top: 60px;

          a {
            text-decoration: none;
            h6 {
              text-transform: uppercase;
              color: $secondary-color;
              border-bottom: 1px solid $secondary-color;
              width: fit-content;
            }
          }
        }

        .our_blog__title {
          margin-bottom: 40px;

          h4 {
            color: #234612;
          }
        }
      }
    }
}

