@import './colors';
@import './dimentions';


.block__title {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;

    h3 {
        border-bottom: 2px solid $primary-color;
        color: $primary-color;
        position: relative;
    }

    h3:after {
        content: "";
        position: absolute;
        bottom: -10px;
        height: 1px;
        left: 27px;
        width: 253px;
        background: $primary-color;
    }
}


.sales {
    padding-top: $top-default;
    flex-direction: column;

    nav {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;

        ul {
            display: flex;
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                padding-right: 60px;

                a {
                    color: $dark;
                }
            }

            li:last-child {
                padding: 0;
            }
        }
    }

}

.sales__div {
    .sales_card:last-child {
        padding: 0;
    }
    .sales_card {
        padding: 0 15px 0 0;
        text-decoration: none;

        .sales_card__img {
            img {
                overflow: hidden;
                box-sizing: border-box;
                object-fit: cover;
                width: 100%;
                position: relative;
                display: block;
                height: 100%;
            }
        }

        .sales_card__block {
            .sales_card__title {
                margin: 20px 0 10px 0;
                text-transform: uppercase;
                color: #234612;
            }

            .sales_card__price {
                color: #A91D20;
            }

            .sales_card__text {
                display: flex;
                justify-content: right;
                margin-bottom: 10px;

                .sales_card__size {
                    display: flex;
                }

                div {
                    margin-right: 10px;
                    color: $grey5;
                    padding: 0;
                    text-transform: none;
                }
            }
        }
    }
}







